        body {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            line-height: 1.6;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 1rem;
        }

        header h1 {
            margin: 0;
            font-size: 2.5rem;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline-block;
            margin-right: 1rem;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 1.2rem;
        }

        main {
            padding: 1rem;
            background: #000;
            color: #ccc;
        }

        section {
            margin-bottom: 2rem;
        }

        section h2 {
            color: #fff;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        section p {
            font-size: 1.1rem;
            line-height: 1.8;
            margin-bottom: 1.5rem;
        }

        section ol {
            padding-left: 2rem;
            margin-bottom: 2rem;
        }

        section ol li {
            font-size: 1.1rem;
            line-height: 1.6;
            margin-bottom: 1rem;
        }

        a {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.2s ease-in-out;
        }

        a:hover {
            color: #0056b3;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 1rem;
            text-align: center;
        }

        footer p {
            margin: 0;
        }